.carousel-div {
  width: 100vw;
  height: 100vh;
}

.carousel-img {
  max-width: 800px;
  max-height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.right-arrow {
  position: absolute;
  border: none;
  background: transparent;
  color: white;
  font-weight: lighter;
  font-size: 83px;
  top: 15%;
  bottom: 15%;
  padding-left: 50%;
  right: 10px;
  outline: none;
  opacity: .4;
  cursor: pointer;
}

.left-arrow:hover, .right-arrow:hover {
  color: #999;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  opacity: 0;
}

.left-arrow {
  position: absolute;
  background: transparent;
  border: none;
  font-weight: lighter;
  font-size: 83px;
  top: 15%;
  bottom: 15%;
  padding-right: 50%;
  left: 10px;
  color: white;
  outline: none;
  opacity: .4;
  cursor: pointer;
}

.exitButton {
  background: transparent;
  border: none;
  font-size: 100%;
  color: #999;
  cursor: pointer;
  opacity: .7;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 5%;
  outline: none;
}
