.activeHeader {
  display: inline-block;
  background-color: white;
  height: 100%;
  width: 90%;
  margin: 3%;
}

.header-logo {
  float: left;
  width: 40%;
}

.navbar {
  display: inline-block;
  margin-top: 2%;
}

ul {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 1px;
  white-space: nowrap;
  width: 100%;
}

.collection {
  display: inline-block;
  padding: 10% 0;
  margin-right: 8%;
  font-size: 87.5%;
}

a:link, a:visited {
  text-decoration: none;
  color: #999;
}

a:hover, a:active {
  color: #333333;
  border-bottom: 1px solid #333333
}

.highlight {
  border-bottom: 1px solid #333333;
}

.hiddenHeader {
  display: none;
}
