.activeHeader {
  display: inline-block;
  background-color: white;
  height: 100%;
  width: 90%;
  margin: 3%;
}

.header-logo {
  float: left;
  width: 40%;
}


.navbar {
  display: inline;
  /*width: 50%;*/
}

ul {
  /*display: inline;*/
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 1px;
  white-space: nowrap;
  padding: 0;
  margin-top: 8%;
}

.collection {
  display: inline;
  /*padding: 10% 0;*/
  margin-right: 3%;
  font-size: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: #999;
}

a:hover, a:active {
  color: #333333;
  border-bottom: 1px solid #333333
}

.highlight {
  border-bottom: 1px solid #333333;
}

.hiddenHeader {
  display: none;
}

.online-store-link {
  color: white !important;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 1px;
  white-space: nowrap;
  padding: 0;
  margin-top: 8%;
}

.online-store-button {
  font-size: 15px;
  border: none;
  border-radius: 3px;
  background: #211732;
}

