.img-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-style: none;
  width: 33%;
  height: 356px;
  margin-bottom: 30px;
}

.img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.deleteImage {
  background: white;
  border: none;
  border-radius: 5px;
  color: #999;
  cursor: pointer;
  opacity: .7;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 10%;
}
